.jshintrc
.travis.yml
appveyor.yml
bench/
test/
checkout-murmurhash.sh

# MIRRORED FROM .gitignore
.DS_Store
Thumbs.db
.svn
*.tmp
*.log
*~
*.lnk
*.sublime-project
*.sublime-workspace
sftp-config.json
/node_modules
/tmp
/build
*.o
*.so
.nyc_output
*.tgz
/lib
/doc
